
/*
  ===========================================================================
  Header Styles
  ===========================================================================
*/
.zip-search {
	display: inline-block;
}

.glyphicon-search {
	color: grey;
}
/*
  ==========================================================================
	Slider Styles
	==========================================================================
*/

.jumbotron {
	position: relative;
	height: 380px;
	background-image: url("../images/slider-bg.gif");
}

.kids {
	position: absolute;
	left: 100px;
}

.slider-message {
	position: absolute;
	right: 300px;
}
