
.container {
	width: 1170px;
	padding: 0;
}

/*
  ===========================================================================
  Header Styles
  ===========================================================================
*/

.header {
	padding: 20px 0;
}

.header .navigation .item {
	margin-left: 25px;
}

.search input {
	border-radius: 20px;
	border-left: 0;
	width: 280px;
	height: 50px;
	background: #fcfcfc;
	border: 1px solid #aaa;
	border-radius: 30px;
}

.navigation .user-icon {
	margin-top: 4px;
}

.search {
	position: relative;
	color: #aaa;
	font-size: 20px;
}

.navigation .search .search-zipcode {
	margin-top: -10px;
}

.search input {
	text-indent: 50px;
}

.search input:focus {
	border-radius: 30px;
	border-color: #66afe9;
	outline: 0;

}

.search-zipcode {
	position: relative;
}

.search-zipcode .fa-search {
	position: absolute;
  top: 15px;
	left: 20px;
}
/*
  ==========================================================================
	Slider Styles
	==========================================================================
*/

.jumbotron {
	position: relative;
	height: 380px;
	background-image: url("../images/slider-bg.gif");
}

.kids {
	position: absolute;
	top: 5px;
	left: 100px;
	height: 375px;
}

.slider-message {
	position: absolute;
	right: 170px;
	top: 90px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'm'
}
h1, h2, h3, button {
	font-family: 'montserrat', sans-serif;
	margin: 0;
}

h1 {
	font-weight: bold;
	margin-bottom: 9px;
}

h2 {
	font-size: 43px;
	margin-bottom: 8px;
}

h3 {
	font-weight: lighter;
	font-size: 27px;
	margin-bottom: 13px;
	word-spacing: -3px;
}

.slider-message button {
	font-size: 18px;
	text-transform: capitalize;
	letter-spacing: 1.5px;
	border-radius: 20px;
	padding: 8px 40px 8px 40px;
}
/*
  ==========================================================================
	Features
  ==========================================================================
*/

.features {
	position: relative;
	height: 100px;
}
.features-icon {
	display: inline-block;
	position: absolute;
	top: 15px;
}

.features-title {
	display: inline-block;
	position: absolute;
	text-indent: 55px;
	font-size: 12px;
}


/*
  ==========================================================================
	Swapables
	==========================================================================
*/
