
/*
  ===========================================================================
  Header Styles
  ===========================================================================
*/

.zip-search {
  display: inline-block;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
}

.glyphicon-search {
	color: grey;
}

/*
  ==========================================================================
	Slider Styles
	==========================================================================
*/

.jumbotron {
	position: relative;
	height: 380px;
	background-image: url("../images/slider-bg.gif");
}

.kids {
	position: absolute;
	left: 100px;
}

.slider-message {
	position: absolute;
	right: 300px;
}

/*
  ==========================================================================
	Features
  ==========================================================================
*/



/*
  ==========================================================================
	Swapables
	==========================================================================
*/
